@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --muted: #2F3436;
  --primary: #84C0BF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --font-sans: var(--font-sora);
  --color-primary: var(--primary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}